.about {
    header {
        .hero-text {
            h1 {
                font-size: 1.25rem;
                line-height: 1.1rem;
                padding: 0;
                text-align: left;
                @media only screen and (min-width: 400px) {
                    font-size: 2.25rem;
                    line-height: 3.25rem;
                }
                @media only screen and (min-width: 1000px) {
                    font-size: 3.5rem;
                    line-height: 3.75rem;
                    padding-top: 80px;
                }
            }
            img {
                border-radius: 50%;
                width: 65px;
                border: 3px solid $main-color;
                @media only screen and (min-width: 600px) {
                    width: 100px;
                }
                @media only screen and (min-width: 800px) {
                    width: 150px;
                }
                @media only screen and (min-width: 1000px) {
                    width: 200px;
                }
            }
        }
        @media only screen and (min-width: 800px) {
            margin: 60px 0 0 60px;
        }
        @media only screen and (min-width: 1000px) {
            margin: 60px 0 0 80px;
        }
    }
    .wrapper {
        background-color: $white-background;
        .about-me {
            background-color: $secondary-color-faded;
            border: 8px solid $main-color;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            margin: 0 auto 80px auto;
            max-width: 1100px;
            min-width: 320px;
            padding-bottom: 100px;

            .mini-bio {
                background-color: $main-color;
                color: $light-text;
                border: none;
            }

    
            @media only screen and (min-width: 600px) {
                flex-direction: row;
                flex-wrap: wrap;
            }   
            @media only screen and (min-width: 850px) {
                width: 90vw;
            }   

            div {
                margin: 30px 20px 10px 20px;
                @media only screen and (min-width: 450px) {
                    width: 350px;
                }
                width: 300px;
                height: 200px;
                padding: 0 0 30px 0;  
            }
            
            h2 {
                background-color: $secondary-color;
                color: $light-text;
                text-align: center;
            }
            p {
                height: 100%;
                background-color: $light-text;
                border: 8px solid $secondary-color;
            }
            h2, p {
                padding: 15px 30px;
            }
        }
    }
}