
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: $main-color;
    color: $light-text;
    cursor: pointer;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.25rem;
    transition: 0.4s;
    border: 1px solid rgba($secondary-color, 40);
    &:nth-of-type(odd) {
        background-color: lighten($main-color, 20);
    }
}
    
.active, .accordion:hover {
    background-color: lighten($main-color, 30);
    color: $dark-text;
    &:nth-of-type(odd) {
        background-color: lighten($main-color-hover, 20);
    }
}
    
.panel {
    padding: 15px 0 0 0;
    display: none;
    background-color: lighten($secondary-color-hover,55);
    overflow: hidden;
    margin-bottom: 10px;

    li {
        margin-left: 20px;
    }
}
    
//accordion code modified from: https://www.w3schools.com/howto/howto_js_accordion.asp