body {
    .wrapper {
        max-width: 1200px;
        background-color: lighten($main-color, 61);
        @media only screen and (min-width: 700px) {
            padding: 0 30px 90px 30px;
        }
    }
    h2 {
        font-size: 1.5rem;
        background-color: rgba($secondary-color-hover, .3);
        padding: 8px;
        color: $dark-text;
    }
}