footer {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: $secondary-color;
    color: $light-text;

    @media only screen and (min-width: 760px) {
        flex-direction: row;
    }
}