header {
    
    background-color: $white-background;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
    display: flex;
    align-items: center;

    .hero-text {

        padding-left: 10px;
        position: absolute;
        margin-top: -50px;

        h1 {
            color: $dark-text;
            font-size: 2.75rem;
            font-weight: bold;
            line-height: 3rem;
        }
        p {
            font-size: .85rem;
        }

        @media only screen and (min-width: 500px) {
            padding-left: 5vw;
        }

        @media only screen and (min-width: 720px) {
            h1 {
                font-size: 5rem;
                line-height: 5rem;
                padding-left: 0;
            }
            p {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
    
    }

    // @media only screen and (min-width: 800px) {
    //     margin-top: 0;
    // }

    .hero-image {
        width: 100vw;
        max-height: 85vh;


        figcaption {
            text-align: center;
            background-color: $main-color-hover;
            color: $light-text;
            font-size: .8rem;
            padding: 10px 20px;
            @media only screen and (min-width: 830px) {
                width: 45vw;
                position: absolute;
                bottom: 0px;
                right: 0;
                font-size: 1rem;
            }
        }
    }
}