header {
    background-color: rgba($secondary-color-hover, .85);
    h1 {
        text-align: center;
        font-size: 2rem;
        padding: 15px 0;
        color: $light-text;
    }
    h3 {
        text-align: center;
        font-size: 1.25rem;
        color: $light-text;
        padding-bottom: 10px;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    .hero-image {
        background-image: url("/images/home-banner.jpg");
        position: relative;
        left: 0px;
        height: 80vh;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }
    .hero-text {
        position: absolute;
        font-size: 1.5rem;

        @media only screen and (min-width: 760px) {
            font-size: 3rem;
        }

        h1 {
            color: $light-text;
            position: relative;
            padding: 10px;
            background-color: rgba($secondary-color-hover, .85);

            @media only screen and (min-width: 500px) {
                font-size: 2.5rem;
            }
        }
    }
}