.home {
    main {
        display: flex;
        flex-direction: column;
        width: 90%;

        .descriptions {
            display: flex;
            flex-direction: column;

            @media only screen and (min-width: 760px) {
                flex-direction: row;
                justify-content: space-between;
            }

            p {
                font-size: 1rem;
                padding: 5px 5px 5px 10px;
            }

            section {
                border-left: 5px solid $secondary-color-hover;
                margin: 30px 0;
                @media only screen and (min-width: 760px) {
                    max-width: 45%;
                } 
            }
        }
        .links {
          display: grid;
          @media only screen and (min-width: 550px) {
              grid-template-columns: 1fr 1fr;
          }
          @media only screen and (min-width: 950px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
            
            div {
                width: 200px;
                height: 200px;
                background-color: rgba($secondary-color, .9);
                margin: 20px auto;
                border-radius: 50%;
                &:hover {
                    background-color: rgba($secondary-color-hover, .7);
                }
                a {
                    display: block;
                    color: $light-text;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 200px;
                }
            }
        }
    }
}