.home {

    .wrapper {
        padding-bottom: 80px;
        margin: auto;
        background-color: $secondary-color-hover;

        .site-links {
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: column;
            padding: 0 0 40px 0;

            @media only screen and (min-width: 600px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }

            h2 {
                z-index: 30;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                font-size: 1.25rem;
                border: 5px solid $main-color;
                background-color: $main-color;
                color: $light-text;
                text-align: center;
                margin: 20px auto 0 auto;
                padding: 20px 16px 16px 16px;
                position: relative;
            }

            p {
                z-index: 10;
                background-color: $white-background;
                border: 6px solid $main-color;
                font-size: 1rem;
                color: $dark-text;
                width: 90vw;
                height: 175px;
                max-width: 300px;
                margin: -50px auto 0 auto;
                padding: 45px 15px 15px 15px;
                position: relative;
            }
        }
    }
}