.lesson-template {

    header {
        margin: 100px 0 15px 0;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
        display: block;
        width: 100%;
        padding: 20px 0;
        background-color: lighten($secondary-color-hover, 5);
        color: $light-text
    }

    h3, ul, ol, blockquote, p {
        padding: 10px;
    }

    ol {
        li {
            margin-left: 40px;
        }
    }

    .panel {
        margin: 0 auto 40px auto;
    }

    .important {

        h3 {
            background-color: rgba($main-color, 20);
        }
        border: 1px solid rgba($main-color, 20);
        border-left: 5px solid rgba($main-color, 20);
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto 20px auto;

        blockquote {
            margin: 0 10px 10px 10px;
            font-size: .9rem;
            padding: .5rem;
        }
    }

    // img {
    //     width: 90%;
    //     margin: 5px auto;
    // }

    .column-child {
        display: block;
        figure {
            margin: 0;
            position: relative;
            padding-top: calc(105 / 175 * 100%);
            background-color: white;
            img {
                position: absolute;
                top: 0;
                left: 0; 
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .two-column {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .filezilla {
            img {
                width: 60%;
            }
        }
        
        @media only screen and (min-width: 700px) {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .column-child {
                width: 45%;
            }
        }
    }

    .single-column {
        @media only screen and (min-width: 700px) {
            width: 100%;
            margin: 10px auto;
        }

    }
}