.lesson-template {

    header {
        margin: 100px 0 15px 0;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
        display: block;
        width: 100%;
        padding: 20px 0;
        background-color: lighten($secondary-color-hover, 5);
        color: $light-text
    }

    h3, ul, blockquote, p {
        padding: 10px;
    }

    ol {
        padding: 0 10px 10px 10px;
    }

    .wrapper {
        dl {
            margin: 15px;
            dt {
                font-weight: bold;
            }
            dd {
                margin: 0 0 20px 20px;
            }
        }
    }

    .important {

        h3 {
            background-color: rgba($main-color, 20);
        }
        border: 1px solid rgba($main-color, 20);
        border-left: 5px solid rgba($main-color, 20);
        display: flex;
        flex-direction: column;
        margin: 10px;

        blockquote {
            font-size: .9rem;
            padding: .5rem;
        }
    }

    .column-child {
        display: block;
        
        img {
            width: 50%;
            margin: 10px auto;
        };

        figure {
            margin: 0;
            position: relative;
            padding-top: calc(105 / 175 * 100%);
            background-color: white;
            img {
                position: absolute;
                top: 0;
                left: 0; 
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .two-column {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        @media only screen and (min-width: 700px) {
            flex-direction: row;
            justify-content: space-around;
            .column-child {
                width: 45%;
            }
        }
    }

    .single-column {
        @media only screen and (min-width: 700px) {
            width: 100%;
            margin: 20px auto;
        }

    }
}