.schedule {
    header {
        margin: 120px 0 20px 0;
    };
    .wrapper {
        max-width: 1200px;

        display: flex;
        flex-direction: column;

        .schedule-accordion {
            margin: 0 auto 35px auto;
            width: 90%;

        }

        .assignment-due {
            text-align: center;
            margin-bottom: 4rem;
        }

        @media only screen and (min-width: 700px) {
            flex-direction: row;
            .schedule-accordion {
                flex-grow: 1;
                width: 50%;
            }
            .assignment-due {
                margin-left: 1rem;
                flex-grow: 1;
            }
        }

        ul {
            li {
                line-height: 2;
            }
        }
    }

    table, th {
        border: 3px solid $main-color;
    }

    th, tr {
        padding: 10px;
    }

    table {
        width: 90%;
        margin: 7px auto 20px auto;
        @media only screen and (min-width:700px) {
            width: 100%;
        }
    }
}