
$main-color: #2a0545;
$main-color-hover: #593f6c;
$main-color-faded: #fbe6fd;
$main-color-shadow: #664a81a2;
$secondary-color: #f2752c;
$secondary-color-hover: #ed864b;
$secondary-color-shadow: #e65400;
$secondary-color-faded: #fef5ed;
$white-background: #FFFFFF;
$dark-text:  black;
$light-text: white;